{
    "recurseDepth": 2,
    "source": {
        "include": ".",
        "includePattern": ".+\\.js$",
        "excludePattern": ""
    },
    "plugins": [],
    "templates": {
        "cleverLinks": false,
        "monospaceLinks": false,
        "default": {
            "outputSourceFiles": true
        }
    }
}